@charset "UTF-8";
/* 
@import 
  'vendors/...
  
  evtl. Slick-Slider hier;
*/
html {
  font-size: 10px; }
  html {
    font-size: 13px !important; }
    @media screen and (min-width: 400px) {
      html {
        font-size: calc(13px + 7 * ((100vw - 400px) / 1200)) !important; } }
    @media screen and (min-width: 1600px) {
      html {
        font-size: 20px !important; } }

@font-face {
  font-family: 'domaine';
  font-weight: normal;
  font-style: normal;
  src: url("../font/DomaineText-Regular.otf"); }

@font-face {
  font-family: 'domaine';
  font-weight: normal;
  font-style: italic;
  src: url("../font/DomaineText-RegularItalic.otf"); }

@font-face {
  font-family: 'domaine';
  font-weight: bold;
  font-style: normal;
  src: url("../font/DomaineText-Bold.otf"); }

@font-face {
  font-family: 'domaine';
  font-weight: bold;
  font-style: italic;
  src: url("../font/DomaineText-BoldItalic.otf"); }

@font-face {
  font-family: 'vg5000';
  src: url("../font/vg5000-regular_web.eot");
  src: url("../font/vg5000-regular_web.eot?#iefix") format("embedded-opentype"), url("../font/vg5000-regular_web.woff2") format("woff2"), url("../font/vg5000-regular_web.woff") format("woff"), url("../font/vg5000-regular_web.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'symbols';
  src: url("../font/vg5000-symbols.otf");
  font-weight: normal;
  font-style: normal; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: black;
  font-family: "domaine", arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  letter-spacing: 0;
  line-height: 1.7; }

html {
  font-family: "domaine", arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  letter-spacing: 0;
  font-size: 1.25rem;
  line-height: 1.7; }

h1 {
  visibility: hidden;
  font-size: 1.75rem;
  font-family: "domaine", arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  text-transform: none;
  letter-spacing: 0; }

a {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: black;
  font-family: "domaine", arial, sans-serif;
  font-weight: normal;
  font-style: italic;
  text-transform: none;
  letter-spacing: 0; }
  a:after {
    content: '';
    width: 0;
    height: .11em;
    margin-bottom: -.11em;
    transform: translateY(-0.2em);
    display: block;
    transition: width 0.2s ease, margin-left 0.2s ease; }
  a:hover:after {
    width: 100%; }

.symbol {
  font-family: "symbols", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1.5em; }

::selection {
  background: #dcb088;
  color: white; }

.colored-background ::selection {
  background: black;
  color: #dcb088; }

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0; }

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block; }

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

header {
  z-index: 2000;
  position: fixed;
  z-index: 100;
  width: 5rem;
  margin: 1.25rem; }
  header button img,
  header a img {
    width: 100%;
    height: auto; }
  header#header-main {
    opacity: 0;
    transform: translateY(-1rem);
    pointer-events: none;
    transition: opacity .3s ease, transform .3s ease, pointer-events 0s .3s; }
    header#header-main.visible {
      transform: translateY(0);
      opacity: 1;
      pointer-events: all; }
  @media (max-width: 800px) {
    header {
      margin-left: calc(50% - 3rem); } }

#banner-clock {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  #banner-clock #clock-wordmark {
    position: absolute;
    width: 70%;
    max-width: 70%;
    max-height: 70%; }
  #banner-clock #clock {
    position: absolute;
    width: 70%;
    max-width: 70%;
    max-height: 70%;
    transition: transform 0.5s cubic-bezier(0.3, 2, 0.3, 0.5); }

footer {
  float: left;
  width: 100%;
  padding: 3rem 0;
  margin-top: 6rem;
  font-size: 1rem;
  background: #dcb088;
  color: white; }
  footer a {
    font-style: normal;
    position: relative;
    color: white;
    transition: .1s ease; }
    footer a:after {
      background: white; }
  footer div {
    width: calc(2*(100%/6));
    margin-left: calc(100%/6);
    float: left; }
    footer div div {
      margin: 0;
      width: 100%;
      font-family: "domaine", arial, sans-serif;
      font-weight: normal;
      font-style: normal;
      text-transform: none;
      letter-spacing: 0; }
  @media (max-width: 800px) {
    footer {
      padding: 2rem 1.5rem; }
      footer div {
        margin: 0; }
        footer div.left {
          width: 70%; }
        footer div.right {
          width: 30%; } }
  @media (max-width: 500px) {
    footer div {
      float: none;
      width: 100%;
      margin-top: 1.68rem; } }

section {
  width: 100%;
  padding: 6rem 0;
  margin: 0; }
  section.info {
    width: calc(4*(100%/6));
    margin: 0 calc(100%/6); }
    section.info p {
      font-size: 1.25rem;
      line-height: 1.7; }
    section.info a:after {
      background: #dcb088; }
    @media (max-width: 800px) {
      section.info {
        padding: 0 1.5rem; }
        section.info p,
        section.info h1 {
          width: 100%; } }
    @media (max-width: 500px) {
      section.info {
        margin: 0;
        width: 100%; }
        section.info p {
          margin-top: 2.52rem; }
        section.info h1 {
          margin-left: 0; } }
  section.section-two-columns {
    width: 100%;
    padding: 6rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }
    section.section-two-columns div {
      width: 50%; }
    @media (max-width: 500px) {
      section.section-two-columns {
        flex-direction: column; }
        section.section-two-columns div {
          margin: 2rem 0;
          width: 100%; } }
    section.section-two-columns#donation-banner #wrapper-oeoo-logo {
      display: flex;
      justify-content: center;
      align-items: center; }
      section.section-two-columns#donation-banner #wrapper-oeoo-logo a {
        width: 60%;
        max-width: 300px;
        margin: 0;
        padding: 0; }
        section.section-two-columns#donation-banner #wrapper-oeoo-logo a img {
          width: 100%; }
    section.section-two-columns#donation-banner #wrapper-donation-counter {
      text-align: center; }
      section.section-two-columns#donation-banner #wrapper-donation-counter #donation-counter-amount {
        font-family: "symbols", Arial, sans-serif;
        font-weight: normal;
        font-style: normal;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        text-transform: lowercase;
        line-height: 1.3;
        font-size: 2.5rem; }
      section.section-two-columns#donation-banner #wrapper-donation-counter #donation-counter-donated {
        font-family: "domaine", arial, sans-serif;
        font-weight: normal;
        font-style: normal;
        text-transform: none;
        letter-spacing: 0;
        font-size: 0.75rem; }
    section.section-two-columns#product-details {
      padding-top: 0;
      display: flex;
      flex-direction: row; }
      section.section-two-columns#product-details ul {
        padding-left: calc((100vw/6) - 3.5rem); }
        @media (max-width: 1200px) {
          section.section-two-columns#product-details ul li {
            width: 100%; } }
        @media (max-width: 800px) {
          section.section-two-columns#product-details ul {
            padding: 0 1.5rem; } }
      section.section-two-columns#product-details .detail-icons {
        display: flex;
        flex-direction: column;
        align-items: center; }
        section.section-two-columns#product-details .detail-icons .detail-icon {
          width: 5rem;
          margin: .75rem; }
  section.banner-image .banner-image-wrapper {
    padding: 0 3rem; }
    @media (max-width: 800px) {
      section.banner-image .banner-image-wrapper {
        padding: 0; } }
  section.banner-image img {
    box-sizing: border-box;
    width: 100%; }

#preloader-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 1000;
  pointer-events: none;
  opacity: 1;
  visibility: visible;
  transition: opacity .4s ease, visibility 0s ease .4s; }
  #preloader-box.hidden {
    opacity: 0;
    visibility: hidden; }

button {
  border: none;
  cursor: pointer;
  background: none;
  box-sizing: border-box; }
  button:focus {
    outline: none; }
  button.button {
    font-family: "vg5000", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: white;
    padding: 6px 12px;
    border: 2px solid white;
    border-radius: 10px;
    transition: .2s ease; }
    button.button.focused {
      background-color: rgba(255, 255, 255, 0.8) !important; }
    button.button.hover {
      background-color: white;
      color: #dcb088; }

#wrapper-arrow-scroll-down {
  font-family: "symbols", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1.5rem;
  z-index: 100;
  position: fixed;
  width: 100%;
  bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
  transition: opacity .3s ease, transform .3s ease, pointer-events 0s .3s; }
  #wrapper-arrow-scroll-down.hidden {
    opacity: 0;
    transform: translateY(-1rem);
    pointer-events: none; }
  #wrapper-arrow-scroll-down #arrow-scroll-down {
    text-align: center; }
    #wrapper-arrow-scroll-down #arrow-scroll-down p {
      color: black;
      border: 2.5px solid black;
      background: white;
      width: 2.1875rem;
      height: 2.1875rem;
      border-radius: 50%;
      transition: .3s ease; }
      #wrapper-arrow-scroll-down #arrow-scroll-down p span {
        transform: translateY(-0.16rem);
        display: inline-block; }
    #wrapper-arrow-scroll-down #arrow-scroll-down:hover p {
      color: black;
      background: #dcb088; }
    #wrapper-arrow-scroll-down #arrow-scroll-down:active p {
      color: white;
      background: #dcb088;
      border: 3px solid #dcb088; }

ul {
  list-style: none;
  /* Remove default bullets */ }
  ul.bullet-list li {
    font-family: "domaine", arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-transform: none;
    letter-spacing: 0;
    font-size: 1.25rem;
    margin-bottom: 2.125rem; }
    ul.bullet-list li::before {
      content: "↦";
      /* Add content: \2022 is the CSS Code/unicode for a bullet */
      font-family: "symbols", Arial, sans-serif;
      font-weight: normal;
      font-style: normal;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      color: #dcb088;
      display: inline-block;
      /* Needed to add space between the bullet and the text */
      width: 1.2rem;
      /* Also needed for space (tweak if needed) */ }
  ul.detail-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
    ul.detail-list li {
      font-size: 1rem;
      width: 50%; }
      ul.detail-list li::before {
        content: "→";
        font-family: "symbols", Arial, sans-serif;
        font-weight: normal;
        font-style: normal;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: #dcb088;
        display: inline-block;
        width: 1.2rem; }

.show-on-scroll {
  opacity: 1;
  transform: translateY(0) scale(1);
  transition: .4s ease-out; }
  .show-on-scroll.under-viewport {
    transform: translateY(4rem) scale(0.9); }
  .show-on-scroll.over-viewport {
    transform: translateY(-4rem) scale(0.9); }
  .show-on-scroll.under-viewport, .show-on-scroll.over-viewport {
    opacity: .5; }
    .show-on-scroll.under-viewport.scroll-image, .show-on-scroll.over-viewport.scroll-image {
      transform: scale(0.8); }
    .show-on-scroll.under-viewport.scroll-detail, .show-on-scroll.over-viewport.scroll-detail {
      transform: scale(0.5); }

li.show-on-scroll.under-viewport {
  transform: translateX(3rem) translateY(4rem) scale(0.9); }

li.show-on-scroll.over-viewport {
  transform: translateX(-3rem) translateY(-4rem) scale(0.9); }

.slideshow-wrapper {
  overflow: visible; }

.slideshow-wrapper .slideshow {
  position: relative;
  visibility: hidden; }
  .slideshow-wrapper .slideshow.slick-initialized {
    visibility: visible; }
  .slideshow-wrapper .slideshow .slide {
    padding-left: 3rem;
    position: relative;
    width: calc(5 * (100vw/6) - 6rem); }
    .slideshow-wrapper .slideshow .slide img {
      max-width: 60vw;
      max-height: calc(100vh - 6rem); }
      .slideshow-wrapper .slideshow .slide img:hover {
        cursor: grab; }
      .slideshow-wrapper .slideshow .slide img:active {
        cursor: grabbing; }
    .slideshow-wrapper .slideshow .slide .caption {
      position: relative;
      padding: 0.84rem calc(1 * (100vw/6) - 3rem);
      font-size: 0.75rem;
      opacity: 0;
      transition: .2s ease; }
    .slideshow-wrapper .slideshow .slide[tabindex="0"] .caption {
      opacity: 1; }
    @media (max-width: 800px) {
      .slideshow-wrapper .slideshow .slide {
        padding-left: 0;
        width: calc(5*(100vw/6)); }
        .slideshow-wrapper .slideshow .slide img {
          width: calc(5*(100vw/6) - 3rem); }
        .slideshow-wrapper .slideshow .slide .caption {
          padding: 0.84rem 3rem; } }
    @media (max-width: 500px) {
      .slideshow-wrapper .slideshow .slide .caption {
        padding: 0.84rem 1.5rem; } }

.slick-slide {
  outline: none; }

.imprint {
  width: calc(4*(100%/6));
  margin: 0 auto;
  padding-top: 8rem;
  line-height: 1.5; }
  .imprint p {
    margin: 0.75em 0; }
  .imprint h1 {
    font-size: 1.75rem;
    letter-spacing: -0.05rem;
    display: block; }
  .imprint h2,
  .imprint h3 {
    margin: 1.5em 0 .5em; }
  .imprint h2 {
    font-size: 1.5rem;
    font-family: "domaine", arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-transform: none;
    letter-spacing: 0; }
  .imprint h3 {
    font-size: 1.25rem;
    font-family: "vg5000", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.1em; }
  .imprint ul {
    list-style: none; }

/* 
@import 
  'themes/...
*/
