

/* ================================================================================ META
*/


/* font-size: calc((X / 16 * 1em) + (Y - X) * (100vw - 20em) / (Z - 320)); */

html {
    font-size: 18px;
    font-size: calc((10 / 16 * 1em) + (16 - 10) * (100vw - 20em) / (1600 - 320));
}

@font-face {
    font-family: 'domaine';
    font-weight: normal;
    font-style: normal;
    src: url('../font/DomaineText-Regular.otf');
}
@font-face {
    font-family: 'domaine';
    font-weight: normal;
    font-style: italic;
    src: url('../font/DomaineText-RegularItalic.otf');
}
@font-face {
    font-family: 'domaine';
    font-weight: bold;
    font-style: normal;
    src: url('../font/DomaineText-Bold.otf');
}
@font-face {
    font-family: 'domaine';
    font-weight: bold;
    font-style: italic;
    src: url('../font/DomaineText-BoldItalic.otf');
}

@font-face {
    font-family: 'vg5000';
    src:
            url('../font/VG5000-Regular_web.otf'),
            url('../font/VG5000-Regular_web.eot') format('eot'),
            url('../font/VG5000-Regular_web.woff') format('woff'),
            url('../font/VG5000-Regular_web.woff2') format('woff2'),
            url('../font/VG5000-Regular_web.ttf') format('ttf');
}

/* ================================================================================ BASE
*/

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    color: black;

    font-family: 'domaine', arial, sans-serif;
    line-height: 1.7;

    overflow-x: hidden;
}

a {
    color: black;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

::selection {
    background: rgb(220, 176, 136);
    color: white;
}

button {
    padding: 8px 20px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    background: none;
    color: white;
}

button:hover {
    background: white;
    color: rgb(220, 176, 136);
    cursor: pointer;
}


/* ================================================================================ LAYOUT
*/

/* -------------------------------------------------- MODAL MESSAGE
*/

#modal-message {
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 100;
    top: 0;
    width: 100vw;
    background: rgb(220, 176, 136);
    color: white;
    padding: 2rem 3rem;
    transition: opacity .25s ease-out, visibility 0s .25s;
    font-size: 1.2rem;
}
#modal-message a {
    color: white;
    transition: .1s ease;
}
#modal-message a:hover {
    color: black;
}

#modal-message.hidden {
    opacity: 0;
    visibility: hidden;
}

#modal-message #btn-close-modal {
    margin-left: 3rem;
}

/* -------------------------------------------------- HEADER
*/


header {
    position: fixed;
    z-index: 100;
    width: 6rem;
    margin: 1.5rem;

    opacity: 0;
    transform: translateY(-1rem);
    pointer-events: none;
    transition: opacity .3s ease, transform .3s ease, pointer-events 0s .3s;
}
header.visible {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
}


/* -------------------------------------------------- CONTENT
*/


section {
    padding: 4rem 0;
}

#banner {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#banner #clock-wordmark {
    position: absolute;
    width: 70%;
    max-width: 70%;
    max-height: 70%;
}
#banner #clock {
    width: 70%;
    max-width: 70%;
    max-height: 70%;
    transition: transform 0.5s cubic-bezier(.3,2,.6,.6);
}

#info {
    width: calc(4*(100vw/6));
    margin: 0 calc(100vw/6);
    padding-top: 1.35rem;
}

#info h1 {
    visibility: hidden;
    font-size: 1.8rem;
    font-family: 'domaine', arial, sans-serif;
    font-weight: bold;
}

#info p {
    margin-top: 5.04rem;
    font-size: 1.8rem;
    font-family: 'domaine', arial, sans-serif;
}

#info p a:after {
    content: '';
    width: 100%;
    height: 0.15rem;
    margin-bottom: -0.15rem;
    transform: translateY(-0.15em);
    display: block;
    background: black;

    transition:
            width 0.2s ease,
            margin-left 0.2s ease;
}

#info a:hover:after {
    width: 0;
    margin-left: 50%;
}

#bottle .slideshow {
    position: relative;
    visibility: hidden;
}
#bottle .slideshow.slick-initialized {
    visibility: visible;
}

#bottle .slideshow .slide {
    position: relative;
    width: calc(5 * (100vw / 6));
}

#bottle .slideshow .slide img:hover {
    cursor: move;
}

#bottle .slideshow .slide img {
    width: 80%;
}

#bottle .slideshow .slide .caption {
    position: relative;
    padding: 0.84rem calc(100vw/6);
    font-size: 1.2rem;
}


/* -------------------------------------------------- FOOTER
*/


footer {
    float: left;
    width: 100vw;
    padding: 3rem 0;
    margin-top: 2rem;
    font-size: 1.2rem;
    background: rgb(220, 176, 136);
    color: white;
}

footer a {
    color: white;
    transition: .1s ease;
}
footer a:hover {
    color: black;
}

footer div {
    width: calc(2*(100vw/6));
    margin-left: calc(100vw/6);
    float: left;
}

footer div p {
    width: 100%;
    font-family: 'domaine', arial, sans-serif;
}


/* ================================================================================ RESPONSIVENESS
*/

@media only screen and (max-width: 800px) {

    header {
        position: absolute;
    }

    #info p, h1 {
        padding: 0 1.5rem;
        width: 100%;
    }

    #info h1 {
        margin-left: 9rem;
    }

    #bottle .slideshow .slide {
        width: calc(5.5*(100vw/6));
    }

    #bottle .slideshow .slide img {
        width: calc(5*(100vw/6));
    }

    #bottle .slideshow .slide .caption {
        padding: 0.84rem 1.5rem;
    }

    footer {
        padding: 3rem 1.5rem;
    }

    footer div {
        width: 50%;
        margin: 0;
    }
}

@media only screen and (max-width: 500px) {

    #info {
        padding-top: 8.91rem;
        margin: 0;
        width: 100%;
    }

    #info h1 {
        margin-left: 0;
    }
    #info p {
        margin-top: 2.52rem;
    }

    footer div {
        float: none;
        width: 100%;
        margin-top: 1.68rem;
    }
}
