

/* ================================================================================ META
*/


/* font-size: calc((X / 16 * 1em) + (Y - X) * (100vw - 20em) / (Z - 320)); */

html {
    font-size: 18px;
    font-size: calc((10 / 16 * 1em) + (16 - 10) * (100vw - 20em) / (1600 - 320));
}

@font-face {
    font-family: 'domaine';
    font-weight: normal;
    font-style: normal;
    src: url('../font/DomaineText-Regular.otf');
}
@font-face {
    font-family: 'domaine';
    font-weight: normal;
    font-style: italic;
    src: url('../font/DomaineText-RegularItalic.otf');
}
@font-face {
    font-family: 'domaine';
    font-weight: bold;
    font-style: normal;
    src: url('../font/DomaineText-Bold.otf');
}
@font-face {
    font-family: 'domaine';
    font-weight: bold;
    font-style: italic;
    src: url('../font/DomaineText-BoldItalic.otf');
}




@font-face {
    font-family: 'vg5000';
    src: url('../font/vg5000-regular_web.eot');
    src:
        url('../font/vg5000-regular_web.eot?#iefix') format('embedded-opentype'),
        url('../font/vg5000-regular_web.woff2') format('woff2'),
        url('../font/vg5000-regular_web.woff') format('woff'),
        url('../font/vg5000-regular_web.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/* ================================================================================ BASE
*/

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    color: black;

    font-family: 'domaine', arial, sans-serif;
    line-height: 1.7;
    width: 100%;
    margin: 0;
    padding: 0;

    overflow-x: hidden;
}

a {
    color: black;
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-style: italic;
}
a:after {
    content: '';
    width: 0;
    height: 2px;
    margin-bottom: -2px;
    transform: translateY(-0.2em);
    display: block;

    transition:
            width 0.2s ease,
            margin-left 0.2s ease;
}

a:hover:after {
    width: 100%;
}

::selection {
    background: rgb(220, 176, 136);
    color: white;
}

button {
    border: none;
    cursor: pointer;
    background: none;
    box-sizing: border-box;
}
button:focus {
    outline: none;
}

.button {
    font-family: 'vg5000', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 6px 12px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    color: white;
    transition: .2s ease;
}
.button.focused {
    background-color: rgba(255, 255, 255, .8) !important;
}

.button:hover {
    background-color: white;
    color: rgb(220, 176, 136);
}

/* ================================================================================ LAYOUT
*/

/* -------------------------------------------------- MODAL MESSAGE
*/

#modal-message {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 100;
    top: 0;
    width: 100%;
    background: rgb(220, 176, 136);
    color: white;
    padding: 2rem 3rem;
    transition: opacity .4s ease-out, visibility 0s .5s;
    font-size: 1.2rem;
}
#modal-message a {
    color: white;
}
#modal-message a:after {
    background: white;
}

#modal-message.hidden {
    opacity: 0;
    visibility: hidden;
}

#modal-message #btn-close-modal {
    margin-left: 3rem;
}

/* -------------------------------------------------- SCROLL ARROW
*/
#wrapper-arrow-scroll-down {
    z-index: 100;
    position: fixed;
    bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
    transition: opacity .3s ease, transform .3s ease, pointer-events 0s .3s;
}
#wrapper-arrow-scroll-down.hidden {
    opacity: 0;
    transform: translateY(-1rem);
    pointer-events: none;
}

#arrow-scroll-down {
    display: inline-block;
}

#arrow-scroll-down svg {
    pointer-events: none;
    width: 48px;
    height: 48px;
    fill: black;
    transform: translateY(0);
    transition: .2s ease;
}

#arrow-scroll-down.focused svg {
    fill: rgba(220, 176, 136, .8) !important;
}


#arrow-scroll-down:hover svg {
    transform: translateY(.2rem);
    fill: rgb(220, 176, 136);
}


/* -------------------------------------------------- HEADER
*/


header {
    position: fixed;
    z-index: 100;
    width: 6rem;
    margin: 1.5rem;

    opacity: 0;
    transform: translateY(-1rem);
    pointer-events: none;
    transition: opacity .3s ease, transform .3s ease, pointer-events 0s .3s;
}
header.visible {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
}

#banner-clock {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#banner-clock #clock-wordmark {
    position: absolute;
    width: 70%;
    max-width: 70%;
    max-height: 70%;
}
#banner-clock #clock {
    width: 70%;
    max-width: 70%;
    max-height: 70%;
    transition: transform 0.5s cubic-bezier(.3,2,.3,.5);
}

/* -------------------------------------------------- CONTENT
*/


section {
    width: 100%;
    padding: 4rem 0;
    margin: 0;
}

.info {
    width: calc(4*(100%/6));
    margin: 0 calc(100%/6);
    padding-top: 1.35rem;
}

.info h1 {
    visibility: hidden;
    font-size: 1.8rem;
    font-family: 'domaine', arial, sans-serif;
    font-weight: bold;
}

.info p {
    margin-top: 5.04rem;
    font-size: 1.8rem;
    font-family: 'domaine', arial, sans-serif;
}

.banner-image {
    margin-top: 2rem;
}
.banner-image-wrapper {
    padding: 0 3rem;
}
.banner-image img {
    box-sizing: border-box;
    width: 100%;
}

#bottle .slideshow {
    position: relative;
    visibility: hidden;
}
#bottle .slideshow.slick-initialized {
    visibility: visible;
}

#bottle .slideshow .slide {
    position: relative;
    width: calc(5 * (100vw/6));
}

#bottle .slideshow .slide img:hover {
    cursor: move;
}

#bottle .slideshow .slide img {
    width: 80vw;
}

section .caption {
    position: relative;
    padding: 0.84rem calc(100vw/6);
    font-size: 1.2rem;
}


/* -------------------------------------------------- FOOTER
*/


footer {
    float: left;
    width: 100%;
    padding: 3rem 0;
    margin-top: 4rem;
    font-size: 1.2rem;
    background: rgb(220, 176, 136);
    color: white;
}

footer a {
    font-style: normal;
    position: relative;
    color: white;
    transition: .1s ease;
}
footer a:after{
    background: white;
}

footer div {
    width: calc(2*(100%/6));
    margin-left: calc(100%/6);
    float: left;
}

footer div div {
    margin: 0;
    width: 100%;
    font-family: 'domaine', arial, sans-serif;
}


/* ================================================================================ RESPONSIVENESS
*/

@media only screen and (max-width: 800px) {

    header {
        position: absolute;
    }

    .info p, h1 {
        padding: 0 1.5rem;
        width: 100%;
    }

    #bottle .slideshow .slide {
        width: calc(5.5*(100%/6));
    }

    #bottle .slideshow .slide img {
        width: calc(5*(100%/6));
    }

    section .caption {
        padding: 0.84rem 1.5rem;
    }

    footer {
        padding: 3rem 1.5rem;
    }

    footer div {
        width: 50%;
        margin: 0;
    }
}

@media only screen and (max-width: 500px) {

    .info {
        padding-top: 8.91rem;
        margin: 0;
        width: 100%;
    }

    .info h1 {
        margin-left: 0;
    }
    .info p {
        margin-top: 2.52rem;
    }

    footer div {
        float: none;
        width: 100%;
        margin-top: 1.68rem;
    }
}
