section {
    width: 100%;
    padding: 6rem 0;
    margin: 0;
    
    &.info {
        width: calc(4*(100%/6));
        margin: 0 calc(100%/6);

        a:after {
            height: 3px;
            margin-bottom: -3px;
            transform: translateY(-0.2em);
            background: rgb(220, 176, 136);
        }
        h1 {
            visibility: hidden;
            font-size: $fontsize-xl;
            @include typo-serif(bold, normal);
        }

        
        @include max-width('medium') {
            p,
            h1 {
                padding: 0 1.5rem;
                width: 100%;
            }
        }
        @include max-width('small') {
            margin: 0;
            width: 100%;
            p {
                margin-top: 2.52rem;
            }
            h1 {
                margin-left: 0;
            }
        }
    }

    &#donation-banner {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        div {
            width: 50%;
            text-align: center;

            &#wrapper-oeoo-logo {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 60%;
                    max-width: 300px;
                }
            }
            
            #donation-counter-amount {
                @include typo-sans;
                line-height: 1;
                font-size: $fontsize-xxl;
            }
            #donation-counter-donated {
                @include typo-serif(normal, normal);
                font-size: $fontsize-xs;
            }
        }
    }

    &.banner-image {
        .banner-image-wrapper {
            padding: 0 3rem;
            @include max-width('medium') {
                padding: 0;
            }
        }
        img {
            box-sizing: border-box;
            width: 100%;
        }
    }
}