section {
    width: 100%;
    padding: 6rem 0;
    margin: 0;

    &.info {
        width: calc(4*(100%/6));
        margin: 0 calc(100%/6);

        p {
          font-size: $fontsize-m;
          line-height: 1.7;
        }

        a:after {
            background: rgb(220, 176, 136);
        }

        @include max-width('medium') {
            padding: 0 1.5rem;
            p,
            h1 {
                width: 100%;
            }
        }
        @include max-width('small') {
            margin: 0;
            width: 100%;
            p {
                margin-top: 2.52rem;
            }
            h1 {
                margin-left: 0;
            }
        }
    }

    &.section-two-columns {
        width: 100%;
        padding: 6rem 3rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        div {
            width: 50%;
        }
        
        @include max-width('small') {
            flex-direction: column;
            div {
                margin: 2rem 0;
                width: 100%;
            }
        }

        &#donation-banner {
        
            #wrapper-oeoo-logo {
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    width: 60%;
                    max-width: 300px;
                    margin: 0;
                    padding: 0;
                    
                    img {
                        width: 100%;
                    }
                }
            }
            
            #wrapper-donation-counter {
                text-align: center;
                
                #donation-counter-amount {
                    @include typo-symbols;
                    text-transform: lowercase;
                    line-height: 1.3;
                    font-size: $fontsize-xxl;
                }
                #donation-counter-donated {
                    @include typo-serif(normal, normal);
                    font-size: $fontsize-xs;
                }
            }
        }
        
        &#product-details {
            padding-top: 0;
            display: flex;
            flex-direction: row;
            
            ul {
                padding-left: calc((100vw/6) - 3.5rem);
                height: 4 * 1.5 * $font-size-m;
                
                li {
                    width: 100%;
                }
                  
                @include max-width('medium') {
                    padding: 0 1.5rem;
                }
            }
    
            .detail-icons {
                display: flex;
                flex-direction: row;
                align-items: center;
    
                .detail-icon {
                    width: 5rem;
                    margin: .75rem;
    
                    img {
                    }
                }
            }
        }
    }

    

    &.banner-image {
        .banner-image-wrapper {
            padding: 0 3rem;
            @include max-width('medium') {
                padding: 0;
            }
        }
        img {
            box-sizing: border-box;
            width: 100%;
        }
    }
}
