/* Tooltip container */
.tooltip {
    position: relative;

    /* Tooltip text */
    .tooltip-text {
        background-color: $color-accent;
        color: $color-light;
        text-align: center;
        @include typo-sans;
        font-size: $fontsize-xs;

        /* Size and position */
        padding: 6px;
        border-radius: 6px;
        width: 12.4rem;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -6.2rem;

        @include max-width('large') {
            margin-left: 0;
            left: 0;
            margin-bottom: 4px;
        }

        /* Fade in tooltip */
        transform-origin: center bottom;
        visibility: hidden;
        opacity: 0;
        transform: scale(.7);
        transition: .2s ease-out;

        /* Tooltip arrow */
        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: $color-accent transparent transparent transparent;
        }
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    &:hover .tooltip-text {
        visibility: visible;
        transform: scale(1);
        opacity: 1;
    }
}