
// F O N T S I Z E S
$fontsize-xs: .75rem;
$fontsize-s: 1em;
$fontsize-m: 1.25rem;
$fontsize-l: 1.5rem;
$fontsize-xl: 1.75rem;
$fontsize-xxl: 2.5rem;

// C O L O R S
$color-dark: black;
$color-light: white;
$color-accent: rgb(220, 176, 136);